* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-col: #e9ebf8;
$font-shade: #e9ebf880;
$darkblue: #022050;
$violet: #6550a5;
$pink: #ff0ace;

@import "keyframes";

body {
  background-image: url(../img/bg.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  font-family: "Kanit", sans-serif;
  color: $font-col;
}

.navbar {
  width: 10vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #02205080,
    #17296080,
    #28327080,
    #3a3b8080,
    #4c449080,
    #5e489e80,
    #714cac80,
    #864fb880,
    #a24bc380,
    #c042ca80,
    #df33ce80,
    #ff0ace80
  );
  position: fixed;
  -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 7px 5px 0px 5px rgba(210,110,255,0); 
  box-shadow: 2px 5px 16px 0px #0B325E, 7px 5px 0px 5px rgba(210,110,255,0);
  .nav-logo {
    background-image: url(../img/logo_transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 32.5vh;
    border-bottom: 1px solid $font-col;
  }
  .nav-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    li {
      list-style-type: none;
      text-align: center;
      width: 10vw;
      border-bottom: 1px solid $font-col;
      padding: 2em 0.5em;

      a {
        text-decoration: none;
        color: $font-col;
        font-size: larger;
      }
    }
    li::before {
      content: "<li> ";
      font-size: 0.75em;
      font-family: "VT323", monospace;
      color: $font-shade;
    }
    li::after {
      content: " </li>";
      font-size: 0.75em;
      font-family: "VT323", monospace;
      color: $font-shade;
    }
  }
  .nav-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5vh;
    .fa-brands {
      font-size: 2em;
      padding: 0.25em;
      color: $font-col;
    }
  }
}
main {
  position: absolute;
  left: 10vw;
  height: 100vh;
  width: 90%;
}

.home,
.about,
.skills,
.work,
.contact {
  height: 80vh;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: flex-end;
  padding-right: 8em;
  span {
    color: transparent;
  }
  h1 {
    font-size: 4em;
  }
  h1::before {
    content: "<h1> ";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  h1::after {
    content: " </h1>";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  @for $i from 1 through 11 {
    span:nth-child(#{$i}) {
      animation: popup2 1s (0.1s * $i) forwards;
    }
  }
}

.hover-line {
  position: relative;
}

.hover-line::before,
.hover-line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: $font-col;
  transition: all 0.3s ease;
}

.hover-line::before {
  top: 0;
  left: 0;
}

.hover-line::after {
  bottom: 0;
  right: 0;
}

.hover-line:hover::before {
  width: 100%;
}

.hover-line:hover::after {
  width: 100%;
  right: 0;
  left: initial;
}

.contactme {
  padding: 1em 2em;
  border: 1px solid $font-shade;
  border-radius: 0.5em;
  color: $font-col;
  text-decoration: none;
  align-self: self-end;
  margin: 3em 0;
  transition: 0.25s;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  &:hover {
    color: $pink;
    border-color: $pink;
  }
  &:active {
    transform: translateY(2px) translateX(2px);
    box-shadow: none;
  }
}
// About //

.about-head {
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
  &:before {
    content: "<h2> ";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  &:after {
    content: " </h2>";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  a {
    text-decoration: none;
  }
  span {
    color: transparent;
  }
  @for $i from 1 through 16 {
    span:nth-child(#{$i}) {
      animation: popup 1s (0.1s * $i) forwards;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em;
  height: 100vh;
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items: center;
    width: 100%;
    gap: 1em;
    flex-wrap: wrap;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 15em;
    padding: 0.5em;
    font-size: 1.5em;
    background-color: #0000005b;
    border-radius: 0.5em;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    p {
      padding: 0.5em;
      &:before {
        content: "<p> ";
        font-size: 0.5em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
      &:after {
        content: " </p>";
        font-size: 0.5em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
    }
    span {
      color: transparent;
    }
    @for $i from 1 through 16 {
      span:nth-child(#{$i}) {
        animation: popup 1s (0.1s * $i) forwards;
      }
    }
    h2 {
      &:before {
        content: "<h2> ";
        font-size: 0.5em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
      &:after {
        content: " </h2>";
        font-size: 0.5em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
    }
  }
}

// About End //

// Skills //

.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;

  .card {
    position: relative;
    width: 350px;
    height: 420px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.8s;

    &:hover .front {
      transform: rotateY(-180deg);
    }

    &:hover .back {
      transform: rotateY(0deg);
    }

    .front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: transform 0.8s;
      border-radius: 0.5em;
      // border: 1px solid $font-shade;
      background-color: #0000005b;
      -webkit-box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);

      img {
        width: 300px;
        height: 300px;
        padding: 1em;
      }

      h2,
      p {
        padding: 0.5em;
      }
      h2 {
        &:before {
          content: "<h2> ";
          font-size: 0.75em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
        &:after {
          content: " </h2>";
          font-size: 0.75em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
      }
      h3 {
        &:before {
          content: "<h3> ";
          font-size: 0.75em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
        &:after {
          content: " </h3>";
          font-size: 0.75em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
      }
      p {
        font-size: 1.25em;
        &:before {
          content: "<p> ";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
        &:after {
          content: " </p>";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
      }
    }

    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: #0000005b;
      transition: transform 0.8s;
      border-radius: 0.5em;
      // border: 1px solid $font-shade;
      -webkit-box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
      transform: rotateY(180deg);
      padding: 1em;
      h2 {
        padding: 1em;
        &:before {
          content: "<h2> ";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
        &:after {
          content: " </h2>";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
      }
      h3 {
        &:before {
          content: "<h3> ";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
        &:after {
          content: " </h3>";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
      }
      p {
        color: $font-shade;
        font-size: 1.25em;
        &:before {
          content: "<p> ";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
        &:after {
          content: " </p>";
          font-size: 0.5em;
          font-family: "VT323", monospace;
          color: $font-shade;
        }
      }
    }
  }
}

.skills-head {
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
  &:before {
    content: "<h2> ";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  &:after {
    content: " </h2>";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
}

// Skills End //

// Work //

.work-head {
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
  &:before {
    content: "<h2> ";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  &:after {
    content: " </h2>";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
}

.work-container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  .work {
    padding: 0.5em;
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0000005b;
    border-radius: 0.5em;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    img {
      width: 350px;
      height: auto;
      object-fit: contain;
      margin: 1em 0;
    }
    h2 {
      &:before {
        content: "<h2> ";
        font-size: 0.75em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
      &:after {
        content: " </h2>";
        font-size: 0.75em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
    }
    a {
      text-decoration: none;
      color: $font-col;
      font-size: larger;
      margin: 0.5em;
      transition: 0.25s;
      border-bottom: 1px solid $font-shade;
      &:before {
        content: "<a> ";
        font-size: 0.75em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
      &:after {
        content: " </a>";
        font-size: 0.75em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
      &:hover {
        color: $pink;
      }
    }
    p {
      &:before {
        content: "<p> ";
        font-size: 0.75em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
      &:after {
        content: " </p>";
        font-size: 0.75em;
        font-family: "VT323", monospace;
        color: $font-shade;
      }
    }
  }
}

// Work End //
// Contact //

.contact {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  gap: 1em;
.contactcontainer {
    display: grid;
    padding: 0.5em;
    height: 575px;
    width: 600px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    background-color: #0000005b;
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr;
      grid-template-areas:
        "name email"
        "betreff betreff"
        "nachricht nachricht"
        "button button";
      grid-column-gap: 1em;
      padding: 2em;
      font-size: 1.5em;
      .name {
        grid-area: name;
        display: flex;
        flex-direction: column;
      }
      .email {
        grid-area: email;
        display: flex;
        flex-direction: column;
      }
      .betreff {
        grid-area: betreff;
        display: flex;
        flex-direction: column;
      }
      .nachricht {
        grid-area: nachricht;
        display: flex;
        flex-direction: column;
      }
      .button {
        grid-area: button;
        padding: 1em 2em;
        border: 1px solid $font-shade;
        border-radius: 0.5em;
        color: $font-col;
        text-decoration: none;
        cursor: pointer;
        transition: 0.25s;
        -webkit-box-shadow: -10px 0px 13px -7px #000000,
          10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        position: relative;
        &:hover {
          color: $pink;
          border-color: $pink;
        }
        &:active {
          transform: translateY(2px) translateX(2px);
          box-shadow: none;
        }
      }
      input,
      textarea {
        margin-top: 1em;
        padding: 0.5em;
        border-radius: 0.25em;
        background-color: #0000001f;
        resize: none;
        border: 1px solid transparent;
        outline: none;
        &:active,
        &:focus,
        &:hover {
          border: 1px solid $pink;
        }
        &::placeholder {
          color: $font-shade;
          font-family: "Kanit", sans-serif;
        }
      }
    }
  }
  .iframe {
    iframe {
      height: 575px;
      width: 600px;
      border-radius: 0.5em;
      -webkit-box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
  }
}

.contact-head {
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
  &:before {
    content: "<h2> ";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  &:after {
    content: " </h2>";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
}

.contact-foot {
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
  font-size: 1.5em;
  font-weight: lighter;
  &:before {
    content: "<p> ";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  &:after {
    content: " </p>";
    font-size: 0.5em;
    font-family: "VT323", monospace;
    color: $font-shade;
  }
  .fa-regular {
    font-size: 0.75em;
  }
}

// Contact End //

// Media Query //

@media screen and (max-width: 1440px) {
  body {
    background-position: center;
    position: relative;
    z-index: 1;
  }
  main {
    padding-top: 12.5vh;
    position: initial;
    left: initial;
    height: initial;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .home,
  .about,
  .skills,
  .work,
  .contact {
    height: auto;
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    background-color: #202020da;
    background-image: linear-gradient(
      to right,
      #02205080,
      #17296080,
      #28327080,
      #3a3b8080,
      #4c449080,
      #5e489e80,
      #714cac80,
      #864fb880,
      #a24bc380,
      #c042ca80,
      #df33ce80,
      #ff0ace80
    );
    .nav-main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        list-style-type: none;
        text-align: center;
        width: auto;
        border-bottom: none;
        padding: 1em;
      }
    }
    .nav-logo {
      width: 10vw;
      height: auto;
      border-bottom: none;
    }
    .nav-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1em;
      .fa-brands {
        font-size: 2em;
        padding: 0.25em;
        color: $font-col;
      }
    }
  }
  .homecontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home {
    padding: 1em;
    margin-left: 0.5em;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-right: 0;
    color: $font-col;
    span {
      color: $pink;
      display: inline-block;
    }
    span:hover {
      animation: none;
    }
    h1 {
      font-size: 3em;
      margin-left: 2em;
    }
  }
  .contactme {
    margin: 1em 0 1em 1em;
    margin-left: 4.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    align-self: flex-start;
    transition: 0.25s;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    &:hover {
      color: $pink;
      border-color: $pink;
    }
    &:active {
      transform: translateY(2px) translateX(2px);
      box-shadow: none;
    }
  }
  .container {

    gap: 1em;
    padding: 0.5em;
    height: auto;
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
  align-items: center;
      width: 100%;
      gap: 1em;
      flex-wrap: wrap;
      .about {
        width: auto;
      }
    }
  }

  .work-container {
    flex-wrap: wrap;
    .hidden {
      display: none;
    }
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    .contactcontainer {
      width: 100%;
      height: 100%;
      padding: 1em;
      form {
        grid-template-columns: 550px;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 0.5fr;
        grid-template-areas:
          "name"
          "email"
          "betreff"
          "nachricht"
          "button";
        grid-column-gap: 0;
      }
      .button {
        padding: 0.5em 1em;
        border: 1px solid $font-shade;
        border-radius: 0.5em;
        color: $font-col;
        text-decoration: none;
        cursor: pointer;
        transition: 0.25s;
      }

      input,
      textarea {
        margin-top: 0.5em;
        padding: 0.25em;
      }
    }
  }
  .iframe {
    iframe {
      display: none;
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 1024px) {
  body {
    font-size: 0.8em;
  }
  main {
    padding-top: 25vh;
  }
  .navbar {
    justify-content: space-between;
    .nav-main {
      flex-direction: column;
      padding: 0;
      li {
        padding: 0;
      }
    }
    .nav-logo {
      width: 25vw;
    }
    .nav-contact {
      flex-direction: column;
      align-items: center;
      width: 25vw;
      .fa-brands {
        font-size: 1.5em;
      }
    }
  }
  .home {
    justify-content: center;
    align-items: flex-start;
    padding-right: 0;
    h1 {
      font-size: 1.5em;
      margin-left: 0;
    }
    .contactme {
      margin-left: 1em;
    }
  }
  .contact {
    .contactcontainer {
      padding: 0.5em;
      font-size: 1.25em;
      form {
        padding: 0.5em;
        grid-template-columns: 350px;
}
    }
  }
}
// Media Query End //